body {
    font-family: 'Inter', sans-serif;
    background-color: #282c34;
    margin: 0px;
    background-image: url("~/public/logo512.png");
    background-position: right 75%;
    background-repeat: no-repeat;
}

.nav {
    display: flex;
    background-color: rgb(32, 35, 42);
    color: rgb(97, 218, 251);
}

.content {
    background-color: #282c34;
    color: white;
    margin-left: 1%;
}

.ul > li::marker {
    font-size: 1.4rem;
    color: #61DAFB;
}

.logo {
    width: 50px;
    height: 50px;
    padding: .5%;
}

.project {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    margin-left: auto;
    margin-right: 1%;
    color: white;
}

.logo-text {
    font-weight: 700;
}