* {
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    margin: 0px;
    background-color: #282D35;
}

.nav {
    display: flex;
    align-items: center;
    background-color: #21222A;
    color: rgb(97, 218, 251);
    padding: 0.5% 0.5%;
}

.content {
    color: white;
    padding: 1% 1.5%;
    margin: 0;
    background-image: url("./bg.png");
    background-position: right 75%;
    background-repeat: no-repeat;
}

.content--title {
    margin: 0;
    font-size: 39px;
    letter-spacing: -.05em;
}

.ul > li {
    padding-block: 0.5%;
    max-width: fit-content;
}

.ul > li::marker {
    font-size: 1.4rem;
    color: #61DAFB;
}

.logo {
    width: 26px;
    height: 25px;
}

.project {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    margin-left: auto;
    margin-right: 1%;
    color: white;
}

.logo-text {
    font-weight: 700;
    padding-left: .2%;
}